.code-block {
    position: relative;
    padding: box-model('padding', 'base');
    background-color: color('body', 'dark');
    border-radius: box-model('border-radius', 'medium');

    margin-top: box-model('margin', 'base');
    margin-bottom: box-model('margin', 'base');

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}